@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Kanit', sans-serif, 'Source Sans Pro', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  text-decoration: line-through;
}

.bg-main {
  width: 100%;
  background-color: rgb(245,126,68);
  background:linear-gradient(180deg, rgba(245,126,68,1) 0%, rgba(254,241,224,1) 80%, rgba(255,255,255,1) 100%);
  padding: 15px;
}


.BtnGreen {
  background-color: rgb(100, 191, 39) !important;
  color: white !important;
}

.BtnRed {
  background-color: rgb(216, 60, 60) !important;
  color: white !important;
}

.BtnGreen .BtnRed :focus {
  background-color: black !important;
}